<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{general/fragmentos :: head}">
        <title>TechShop</title>
    </head>

    <body>
        <header th:replace="~{general/fragmentos :: header}"></header>

        <section th:replace="~{categoria/fragmentos :: agregar}"></section>

        <section th:replace="~{categoria/fragmentos :: listado}"></section>

        <section th:replace="~{categoria/fragmentos :: confirmarEliminar}"></section>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var confirmModal = document.getElementById('confirmModal');
                if (confirmModal) {
                    confirmModal.addEventListener('show.bs.modal', function (event) {
                        var button = event.relatedTarget;
                        document.getElementById('modalId').value = button.getAttribute('data-bs-id');
                        document.getElementById('modalDescripcion').textContent = button.getAttribute('data-bs-descripcion');
                    });
                }
            });
        </script>

        <footer th:replace="~{general/fragmentos :: footer}"></footer>
    </body>
</html>